// Основные стили документа
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

// Правильное скрытие элементов для ридера
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// Текстовые стили, размеры шрифтов и тд
body {
  margin: 0;
  min-width: 320px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  color: $color-default;
}

a {
  text-decoration: none;
  color: inherit;
}

ul li {
  @include reset-list;
}

::placeholder {
  color: $color-info;
}

::selection {
  background-color: #a7a7a7;
  color: $color-info;
}

input,
textarea {
  &:focus:required:invalid {
    border-color: red;
  }

  &:required:valid {
    border-color: green;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
canvas,
figure,
figcaption,
audio,
video {
  margin: 0;
  padding: 0;
}

i {
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
}

// developer mode modal information
.dev-modal {
  @include centered;

  transform: translateY(-100%);
  justify-content: center;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  animation: blur 3s infinite linear;
  transform-style: preserve-3d;
  transition: $transition;
  z-index: 9999;

  div {
    @include centered;

    justify-content: center;
    flex-direction: column;
    padding: 15px;
    text-align: center;
    min-width: 200px;
    border-radius: 12px;
    border: 1px solid #2D9CDB;
    background-color: #ffffff;

    p {
      margin-bottom: 20px;
    }
  }
}

// scroll to top button
.scroll-top-btn {
  @include centered;

  justify-content: center;
  position: absolute;
  right: 8px;
  bottom: 90px;
  width: 32px;
  height: 32px;
  background: rgba(255, 172, 48, 0.7);
  border: 2px solid rgba(255, 255, 255, 0.03);
  border-radius: 50%;
  transform: scale(0);
  transition: $transition;

  i {
    width: 12px;
    height: 8px;
    background-image: url(../img/icons/arrow-up.svg);
  }
}

// preloader
.preloader {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10000;
  perspective: 1600px;
  perspective-origin: 20% 50%;
  transition: 0.5s all;
  opacity: 1;
}

.preloader::before{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  animation: blur 3s infinite linear;
  transform-style: preserve-3d;
}

.b-ico-preloader {
  background: url('../img/icons/header-logo.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 52px;
  height: 52px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  animation: ico 2s infinite linear;
  transform-style: preserve-3d;
}

.spinner {
  width: 80px;
  height: 80px;
  border: 2px solid #f3f3f3;
  border-radius: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  animation: spin 0.1s infinite linear;
}

@keyframes ico {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@keyframes blur {
  0% {
    backdrop-filter: blur(3px);
  }
  50% {
    backdrop-filter: blur(7px);
  }
  100% {
    backdrop-filter: blur(3px);
  }
}

.preloader.fade {
  transition:  0.5s ease all;
  opacity: 0;
}
