// Основные стили документа
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

// Правильное скрытие элементов для ридера
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// Текстовые стили, размеры шрифтов и тд
body {
  margin: 0;
  min-width: 320px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  color: $color-default;
}

a {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style: none;
}

::placeholder {
  color: $color-info;
}

::selection {
  background-color: #a7a7a7;
  color: $color-info;
}

input,
textarea {
  &:focus:required:invalid {
    border-color: red;
  }

  &:required:valid {
    border-color: green;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
canvas,
figure,
figcaption,
audio,
video {
  margin: 0;
  padding: 0;
}
