@import "base/mixins";
@import "base/variables.scss";
@import "base/layout";

// Blocks imports
@import "blocks/header";
@import "blocks/main";
@import "blocks/footer";

.d-none {
    display: none !important;
}

.d-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}


